* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
header {
  height: 150px;
  background-color: #ce2b2b;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding-inline: 2rem;
}

header .logo {
  font-size: 2rem;
  text-transform: capitalize;
  color: #fff;
}

header a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.5s;
}

header a:not(.logo):hover {
  color: rgb(0, 0, 0);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
main > p {
  max-width: 50%;
}

main article {
  display: flex;
  margin-inline: 2rem;
  gap: 2rem;
}

main article h2 {
  margin-bottom: 1rem;
}

footer {
  width: 100%;
  text-align: center;
  background-color: #555;
  color: #fff;
  padding-block: 40px;
  margin-top: 2rem;
}
